@keyframes smooth-line {
    0% { 
        height: 0.2em;
    }
    100% {
        height: 12.4rem;
    }
}

@keyframes undo-smooth-line {
    0% {
        height: 12.4rem;
    }
    100% {
        height: 0.2em;
    }
}

@keyframes zoom-img {
    0% {
        height: 100%;
        width: 100%;
    }

    100%{
        height: 120%;
        width: 120%;
        transform: translate(-10%, -10%);
    }
    
}

@keyframes undo-zoom-img {
    0% {
        height: 120%;
        width: 120%;
        transform: translate(-10%, -10%);
    }

    100%{
        height: 100%;
        width: 100%;
    }
}

.characters {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        position: relative;
        flex-wrap: wrap;
        padding: 3rem 0;
    }
    
    &__card{
        width: 13.5em;
        text-align: center;
        background-color: $tertiary-color;
        margin: 2rem 1rem;
        position: relative;

        &__line{
            background-color: $primary-color;
            height: 0.2em;
            width: 100%;
            position: absolute;
            top: 13.5rem;
            left: 0;
            z-index: 0;

            &:hover{ 
                height: 16.06rem;
            }
        }

        &__visuel{
                height: 13.5rem;
                overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__text{
            margin: 1em;
            z-index: 1;
            position: relative;
            height: 9.7rem;
      
            h2 {
                color: $secondary-color;
                font-family: $heading-font;
                font-size: 1.4em;
                margin: 1.2em 0 1em 0;
                
            }

            p {
                color: darken($secondary-color, 20%);
                font-size: 0.85em;
                text-align: center;
                line-height: 1.25em;
                margin: 1em 0.3em;
            }

            &__button{
                margin-bottom: 0.7em;

                p{
                font-size: 1em;
                font-weight: 600;
                color: $secondary-color;
                padding: 0.5em 1.2em;
                border-radius: 10px;
                border: 2px solid $secondary-color;
                }


                p:hover{
                    background-color: transparent;
                    color: $tertiary-color;
                    border-radius: 10px;
                    border: 2px solid $secondary-color;
                    background-color: $secondary-color;
                    box-shadow: 7px 7px 6px darken($secondary-color, 82%);
                }
            }
        }
        &::after{
            position: absolute;
            content: "█";
            color: $secondary-color;
            font-size: 30px;
            transform: rotate(45deg);
            bottom: -.5em;
            right: -0.5em;
        }
        
        &__char-id, &__long-description {
            display: none;
        }
}
}