.top-bar {
    height: 6rem;
    background-color: $tertiary-color;
    position: relative;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
    }
    
    .fas {
        color: $secondary-color;
        font-size: 1.5rem;
        
    }

    &__logo {
        img {
            width: 350px;
            height: auto;
    
        }
    }

    &__search {
        &__input {
            position: absolute;
            right: 35px;
        }
    }
}